body{margin:0;padding: 0;z-index: 1;}

/* navbar */
#navbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 60px;
	padding: 10px;
	-webkit-box-shadow: inset 0 -0.1rem 0.25rem rgba(0,0,0,.1);
    box-shadow: inset 0 -0.1rem 0.25rem rgba(0,0,0,.1);
	background-color: #343a40;
	opacity: 0.8;
    filter: alpha(opacity=80);
	overflow: hidden;
	z-index: 9;
}

#buttons {
	display: inline-block;
	float: right;
	height: 60px;
	width: 75%;
}

#logo {
	float: left;
	display: inline-block;
	width: 108px;
	height: 60px;
	
}

#logo:hover {
	opacity: 0.7;
    filter: alpha(opacity=70);
}

#list {
	list-style-type: none;
	height: 60px;
	margin: 0px;
	padding: 0px;
	float: right;
}

#list>li {
	float: left; 
	height: 60px;
}

#list>li>a {
	display: block;
	color: gray;
	text-align: center;
	text-decoration: none;
	padding: 21px;
}

#list>li>a:hover {
	-webkit-box-shadow: inset 0 -0.1rem 0.25rem rgba(0,0,0,.1);
    box-shadow: inset 0 -0.1rem 0.25rem rgba(0,0,0,.1);
	background-color: #1f2226;
	opacity: 0.8;
    filter: alpha(opacity=80);
}

#collapsor {
	background-color: transparent;
	border: none;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	border: 3px solid gray;
	border-radius: 8px;
	margin: 10px;
	padding: 0px;
	height: 60px;
	width: 60px;
	color: white;
	display: none;
	float: right;
}

#collapsor:hover {
	background-color: #343a40;
	color: #DCDCDC;
	opacity: 0.8;
    filter: alpha(opacity=80);
}

@media screen and (max-width: 600px) {
	#collapsor {
		display: inline-block;
		position: fixed;
		top: 0;
		right: 0;
	}
	#buttons {
		padding-top: 10px;
		width: 100%;
	}
	#list {
		width: 100%;
		float: left;
	}
	#list>li {
		width: 100%;
	}
	#list>li>a {
		text-align: left;
	}
}

/* carousel */
#carousel {
	overflow: hidden;
	position: relative;
}

.slide {
	display: none;
	overflow: hidden;
	width: 100%;
	position: relative;
}

.slide img {
	width: 100%;
}

.holder {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.holder h1 { /* font title */
	color: #007f00;
	font-size: 2.5em;
}

.holder p { /* font subTitle */ 
	color: #b20000;
	font-size: 1.5em;
}

#bholder {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
}

#bholder button {
	width: 25%;
	background-color: transparent;
	border: none;
	position: relative;
    top: 0;
    font-size: 30px;
	color: #3b1261;
}

#bholder button:hover {
	background-color: rgba(128, 128, 128, 0.2);
}

#lbutton {
	float: left;
}

#rbutton {
	float: right;
}

/* colloms */

