body{margin:0;padding: 0;z-index: 1;}

/* navbar */
#navbar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 60px;
	padding: 10px;
	-webkit-box-shadow: inset 0 -0.1rem 0.25rem rgba(0,0,0,.1);
    box-shadow: inset 0 -0.1rem 0.25rem rgba(0,0,0,.1);
	background-color: #343a40;
	opacity: 0.8;
    filter: alpha(opacity=80);
	overflow: hidden;
	z-index: 9;
	transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    -webkit-transition: height 1s;
}

#buttons {
	display: inline-block;
	float: right;
	height: 60px;
	width: 75%;
}

#logo {
	float: left;
	display: inline-block;
	width: 108px;
	height: 60px;
	
}

#logo:hover {
	opacity: 0.7;
    filter: alpha(opacity=70);
}

#list {
	list-style-type: none;
	height: 60px;
	margin: 0px;
	padding: 0px;
	float: right;
}

#list>li {
	float: left; 
	height: 60px;
}

#list>li>a {
	display: block;
	color: gray;
	text-align: center;
	text-decoration: none;
	padding: 21px;
}

#list>li>a:hover {
	-webkit-box-shadow: inset 0 -0.1rem 0.25rem rgba(0,0,0,.1);
    box-shadow: inset 0 -0.1rem 0.25rem rgba(0,0,0,.1);
	background-color: #1f2226;
	opacity: 0.8;
    filter: alpha(opacity=80);
}

#collapsor {
	background-color: transparent;
	border: none;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	border: 3px solid gray;
	border-radius: 8px;
	margin: 10px;
	padding: 0px;
	height: 60px;
	width: 60px;
	color: white;
	display: none;
	float: right;
}

#collapsor:hover {
	background-color: #343a40;
	color: #DCDCDC;
	opacity: 0.8;
    filter: alpha(opacity=80);
}

/* carousel */
#carousel {
	overflow: hidden;
	position: relative;
}

.slide {
	display: none;
	overflow: hidden;
	width: 100%;
	position: relative;
}

.slide img {
	width: 100%;
}

.holder {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.holder h1 { /* font title */
	color: #007f00;
	font-size: 2.5em;
}

.holder p { /* font subTitle */ 
	color: #b20000;
	font-size: 1.5em;
}

#bholder {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
}

#bholder button {
	width: 25%;
	background-color: transparent;
	border: none;
	position: relative;
    top: 0;
    font-size: 30px;
	color: #3b1261;
}

#bholder button:hover {
	background-color: rgba(128, 128, 128, 0.2);
}

#lbutton {
	float: left;
}

#rbutton {
	float: right;
}

/* colloms */
.container {
	display: inline-block;
	position: relative;
	width: 80%;
	margin: 0px 11%;
}

.column {
	display: inline-block;
	width: 26%;
}

.title {
	margin-top: 100px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
	font-size: 2rem;
}

.nexttitle {
	color: #868e96;
}

.subtitle {
	color: #545454;
	font-size: 1.25rem;
    font-weight: 300;
}

.separator {
	margin-top: 5rem;
	margin-bottom: 5rem;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.1);
	box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.wrapper {
	margin:0 auto;
	text-align: center;
}

.picture {
	max-width: 100%;
}

.footer {
	position: relative;
	padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

#back {
	position: relative;
	top: -110px;
	margin-bottom: -110px;
	background-color: gray;
	border: 2px solid #5d6166;
	color: #33cd3d;
	font-size: 50px;
	height: 50px;
	width: 50px;
}

#back:hover {
	background-color: #5d6166;
	border: 2px solid gray;
}

/* biografie */
.person {
	display: inline-block;
	background-color: #32cd32;
	width: 300px;
	border: 3px outset lightgrey;
	margin: 20px; 
	overflow: hidden;
	white-space: nowrap;
}

.person h1 {
	text-align: center;
	color: white;
	margin: 5px;
}

.floater {
	position: relative;
	width: 300px;
	height: 300px;
}

.floater img {
	width: 100%;
	height: 100%;
}

.bio {
	position: absolute;
	bottom: 5%;
	width: 95%;
	height: 90%;
	background-color: rgba(105, 105, 105, 0.7);
	overflow: hidden;
	text-align: left;
}

.bio p {
	margin: 10px;
	color: #32cd32;
	font-size: 1.1rem;
}

/* media queries */
@media screen and (max-width: 600px) {
	/* navbar */
	#collapsor {
		display: inline-block;
		position: fixed;
		top: 0;
		right: 0;
	}
	#buttons {
		padding-top: 10px;
		width: 100%;
	}
	#list {
		width: 100%;
		float: left;
	}
	#list>li {
		width: 100%;
	}
	#list>li>a {
		text-align: left;
	}
	
	/* column */
	.container {
		width: 96%;
		margin: 0px 2%;
	}

	.column {
		display: block;
		width: 32%;
	}
}

@media screen and (min-width: 800px) {
	.respp{
		float: left;
		width: 70%;
	}
	.respi {
		float: left;
		width: 30%;
	}
}